name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    - cron: "0 0 1 * *" # 1 day of every month

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          [
            # macos-11,
            macos-12,
            # macos-latest,
            # windows-2019,
            # windows-2022,
            # windows-latest,
          ]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 16
      - run: yarn install --frozen-lockfile
      - run: yarn ci
      - uses: actions/upload-artifact@v2
        if: always()
        with:
          name: artifacts
          path: |
            **/recordings/**/*
